<template>
  <div>
    <h2>Tasks</h2>
    <form @submit.prevent="addTask">
      <input type="text" v-model="newTaskName" placeholder="new task">
    </form>
    <ul>
      <li v-for="task in tasks" :key="task.id">
        <label :for="'task-' + task.id">
          <input type="checkbox" :checked="task.done" @change="toggleTaskStatus(task)" :id="'task-' + task.id">
          {{ task.name }}
          <span v-if="!!task.labelIds.length"> - </span>
          <span v-for="labelId in task.labelIds" :key="labelId">
            {{ getLabelName(labelId) }}
          </span>
        </label>
      </li>
    </ul>

    <h2>Labels</h2>
    <form @submit.prevent="addLabel">
      <input type="text" v-model="newLabelName" placeholder="new label">
    </form>
    <ul>
      <li v-for="label in labels" :key="label.id">
        <label :for="'label-' + label.id">
          <input type="checkbox" v-model="newLabelIds" :value="label.id" :id="'label-' + label.id">
          {{ label.id }}
          {{ label.name }}
        </label>
      </li>
    </ul>

    <h2>ラベルでフィルタ</h2>
    <ul>
      <li v-for="label in labels" :key="label.id">
        <label :for="'filter-' + label.id">
          <input type="radio"
          @change="changeFilter(label.id)"
          :checked="filterLabelId === label.id"
          :id="'filter-' + label.id">
          {{ label.id }}
          {{ label.name }}
        </label>
      </li>
      <li>
        <label for="filter-reset">
          <input type="radio"
          @change="changeFilter(null)"
          :checked="filterLabelId === null"
          id="filter-reset">
          リセット
        </label>
      </li>
    </ul>

    <h2>save, restore</h2>
    <button type="button" @click="save">保存</button>
    <button type="button" @click="restore">復元</button>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      newTaskName: '',
      newLabelName: '',
      newLabelIds: [],
    }
  },
  computed: {
    tasks() {
      return this.$store.getters.filterdTasks
    },
    labels() {
      return this.$store.state.labels
    },
    filterLabelId() {
      return this.$store.state.filterLabelId
    }
  },
  methods: {
    // add task
    addTask() {
      if (this.newTaskName == '') return false

      this.$store.commit('addTask', {
        name: this.newTaskName,
        labelIds: this.newLabelIds
      })
      this.newTaskName = ''
      this.newLabelIds = []
    },
    // toggle task status done/undone
    toggleTaskStatus(task) {
      this.$store.commit('toggleTaskStatus', {
        id: task.id
      })
    },

    // add label
    addLabel() {
      this.$store.commit('addLabel', {
        name: this.newLabelName
      })
      this.newLabelName = ''
    },
    // get label name
    getLabelName(labelId) {
      const label = this.labels.filter(label => label.id === labelId)[0]
      return label ? label.name : ''
    },

    // フィルタする対象のラベルを変更する
    changeFilter(labelId) {
      this.$store.commit('changeFilter', {
        filterLabelId: labelId
      })
    },

    // 保存
    save() {
      this.$store.dispatch('save')
    },

    // 復元
    restore() {
      this.$store.dispatch('restore')
    }
  }
}
</script>

<style>

</style>
